<footer id="contacto" class="contact">
        <div class="ubicacion">
            <figure>
                <img src="images/ubicacion.png" alt="">
            </figure>
            <h4>Bogotá D.C. Colombia</h4>
        </div>
        <div class="redes">
        <figure>
            <a target="_blak" href="mailto:llherrerapo@gmail.com?Subject=Estoy%20interesado%20en%20trabajar%20contigo"><img src="/images/correo.png" alt=""></a>
        </figure> 
        <figure>
            <a target="_blak" href="https://github.com/llherrerap"><img src="/images/git.png" alt=""></a>
        </figure> 
        <figure>
            <a target="_blak" href="https://wa.me/573503406870"><img src="/images/wa.png" alt=""></a>
        </figure> 
        </div>
    </footer> 