<div class="container mt-5">
  <section class="hero" data-aos="fade-right" data-aos-duration="1500">
    <p>
      Hello! I'm a <strong>systems engineer</strong>, holding a degree from the District University in Bogotá D.C
      Colombia, with expertise in a diverse set of tools within the realm of information technology. My primary focus
      lies in <strong>Backend development</strong> and <strong>database management</strong>.
      <a href="/en/projects">View my projects</a>
    </p>
    <img src="images/mujerprogramando.png" alt="Mujer programando">
  </section>
  <h2 id="skills">Skills</h2>
  <section class="skills" data-aos="fade-up" data-aos-duration="1500">
    <ul>
      <li><strong>Backend Development:</strong> Proficient in designing and implementing Backend solutions, with a focus
        on <strong>Node.js and Java.</strong></li>
      <li><strong>Version Control Systems:</strong> Professional skills in the effective implementation and management
        of version control systems, particularly in collaborative environments, with an emphasis on
        <strong>Git.</strong>
      </li>
      <li><strong>Databases:</strong> Proficient in managing <strong>SQL</strong> databases and relational data models
        to ensure efficient performance in applications.</li>
      <li><strong>Technical Problem Solving:</strong> Proven ability to tackle complex technical challenges, identify
        effective solutions, and ensure the integrity and effectiveness of Backend applications.</li>
    </ul>
  </section>
  <h2 id="education">Education</h2>
  <section class="formation-list">
    <article class="formation">
      <figure class="formation-imagenContainer">
        <img class="formation-image" src="images/universidad.jpg">
      </figure>
      <div class="formation-detail">
        <h3 class="formation-title">Francisco José de Caldas District University</h3>
        <h5 class="formation-description">Bachelor's in Systems Engineering</h5>
        <p class="formation-state"><small>Completed</small></p>
      </div>
    </article>
    <article class="formation">
      <figure class="formation-imagenContainer">
        <img class="formation-image" src="images/colegio.jpg">
      </figure>
      <div class="formation-detail">
        <h3 class="formation-title">Nueva Ciencia High School</h3>
        <h5 class="formation-description">Technical Bachelor in Informatics</h5>
        <p class="formation-state"><small>Completed</small></p>
      </div>
    </article>
  </section>
  <h2 id="workExperience">Work Experience</h2>
  <section class="experienciaLaboral">
    <div class="experiencia" data-aos="zoom-in" data-aos-duration="1500">
      <h3>2022-Present</h3>
      <h2>Software Developer</h2>
      <p>Advanced Technology Research Network (RITA)</p>
      <ul>
        <li>Manage, administer, and update the RITA website and associated modules.</li>
        <li>Develop software solutions supporting research projects and certain processes within the University
          departments.</li>
        <li>Provide support for RITA's software applications offered to the academic and research community of the
          University.</li>
        <li>Update, modify, maintain, and support software components of RITA's intranet and extranet.</li>
        <li>Offer technical assistance related to software issues for the academic and research community of the
          University.</li>
        <li>Conduct training sessions on software-related topics for the academic and research community of the
          University.</li>
      </ul>
    </div>
    <div class="experiencia" data-aos="zoom-in" data-aos-duration="1500">
      <h3>2021-2022</h3>
      <h2>Development Engineer I</h2>
      <p>Cobiscorp</p>
      <ul>
        <li>Fix bugs in the project.</li>
        <li>Provide support for the developed software and product.</li>
        <li>Generate installers for the software product.</li>
        <li>Assist in software development.</li>
        <li>Train others in the basic operation of the product, tools, and software.</li>
        <li>Test the product's functionalities.</li>
        <li>Reproduce bugs in the product reported by other teams or individuals.</li>
        <li>Update documentation for the product, tools, or software.</li>
      </ul>
    </div>
  </section>
  <h2 id="knowledge">Knowledge</h2>
  <section class="knowledge">
    <h3>Programming Languages</h3>
    <div class="herramientas">
      <div class="herramienta">
        <img src="/images/java.png">
        <div class="descripcion">
          <h4>Java</h4>
          <p>Advanced Level</p>
        </div>
      </div>
      <div class="herramienta">
        <img src="/images/php.png">
        <div class="descripcion">
          <h4>PHP</h4>
          <p>Advanced Level</p>
        </div>
      </div>
      <div class="herramienta">
        <img src="/images/javascript.png">
        <div class="descripcion">
          <h4>JavaScript</h4>
          <p>Intermediate Level</p>
        </div>
      </div>
      <div class="herramienta">
        <img src="/images/python.png">
        <div class="descripcion">
          <h4>Python</h4>
          <p>Basic Level</p>
        </div>
      </div>
      <div class="herramienta">
        <img src="/images/Go-Logo_Blue.svg">
        <div class="descripcion">
          <h4>Go</h4>
          <p>Basic Level</p>
        </div>
      </div>
    </div>

    <h3>Frameworks</h3>
    <div class="herramientas">
      <div class="herramienta">
        <img src="/images/Expressjs.svg">
        <div class="descripcion">
          <h4>Express.js</h4>
          <p>Advanced Level</p>
        </div>
      </div>
      <div class="herramienta">
        <img src="/images/laravel.png">
        <div class="descripcion">
          <h4>Laravel</h4>
          <p>Basic Level</p>
        </div>
      </div>
    </div>

    <h3>Database Engines</h3>
    <div class="herramientas">
      <div class="herramienta">
        <img src="/images/mysql.png">
        <div class="descripcion">
          <h4>Mysql</h4>
          <p>Advanced Level</p>
        </div>
      </div>
      <div class="herramienta">
        <img src="/images/oracle.png">
        <div class="descripcion">
          <h4>Oracle database</h4>
          <p>Intermediate Level</p>
        </div>
      </div>
      <div class="herramienta">
        <img src="/images/postgres.png">
        <div class="descripcion">
          <h4>PostgreSQL</h4>
          <p>Intermediate Level</p>
        </div>
      </div>
    </div>

    <h3>Other Tools</h3>
    <div class="herramientas">
      <div class="herramienta">
        <img src="/images/html.png">
        <div class="descripcion">
          <h4>HTML</h4>
          <p>Advanced Level</p>
        </div>
      </div>
      <div class="herramienta">
        <img src="/images/css.png">
        <div class="descripcion">
          <h4>CSS</h4>
          <p>Intermediate Level</p>
        </div>
      </div>
      <div class="herramienta">
        <img src="/images/drupal.png">
        <div class="descripcion">
          <h4>Drupal</h4>
          <p>Intermediate Level</p>
        </div>
      </div>
    </div>
  </section>
</div>