<section class="projects" id="projects">
    <h2>Projects</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4" data-aos="fade-down" data-aos-duration="1500">
        <div class="col">
            <div class="card h-100">
                <img src="/images/projects/Sitio Web RITA.png" class="card-img-top" alt="RITA Website">
                <div class="card-body">
                    <h5 class="card-title">RITA Website</h5>
                    <p class="card-text">Website update for the Research Network of Advanced Technology (RITA). The update includes improvements in website security and integration with the department's intranet.</p>
                    <h6 class="card-title">Technologies</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Drupal</li>
                        <li class="list-group-item">JavaScript</li>
                        <li class="list-group-item">PostgreSQL</li>
                        <li class="list-group-item">Bootstrap</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="https://rita.udistrital.edu.co/" target="_blank">Go to project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/images/projects/scraping-grupos.png" class="card-img-top" alt="Scraping GrupLAC">
                <div class="card-body">
                    <h5 class="card-title">Scraping GrupLAC</h5>
                    <p class="card-text">Development of a scraping tool aimed at retrieving general information and academic production of research groups from their GrupLAC to their websites.</p>
                    <h6 class="card-title">Technologies</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Python</li>
                        <li class="list-group-item">PHP</li>
                        <li class="list-group-item">JSON</li>
                        <li class="list-group-item">Drupal</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="https://rita.udistrital.edu.co/plantilla/SobreNosotros#productos" target="_blank">Go to project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/images/projects/veterinaria.png" class="card-img-top" alt="Veterinary API Project">
                <div class="card-body">
                    <h5 class="card-title">Veterinary API Project</h5>
                    <p class="card-text">REST API for a veterinary system that manages pets, veterinarians, and appointments. The API provides an efficient and secure interface for the system's information management.</p>
                    <h6 class="card-title">Technologies</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">NodeJS</li>
                        <li class="list-group-item">ExpressJS</li>
                        <li class="list-group-item">JSON</li>
                        <li class="list-group-item">MySQL</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="https://github.com/llherrerap/veterinaria" target="_blank">Go to project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/images/projects/plantilla-drupal.png" class="card-img-top" alt="Drupal Template Project">
                <div class="card-body">
                    <h5 class="card-title">Drupal Template Project</h5>
                    <p class="card-text">Creation of a template for websites of research groups, units, and investigative seedbeds at the District University.</p>
                    <h6 class="card-title">Technologies</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Drupal</li>
                        <li class="list-group-item">JavaScript</li>
                        <li class="list-group-item">Bootstrap</li>
                        <li class="list-group-item">MySQL</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="https://rita.udistrital.edu.co/plantilla/" target="_blank">Go to project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/images/projects/solicitudes-rita.png" class="card-img-top" alt="RITA Requests Management System">
                <div class="card-body">
                    <h5 class="card-title">RITA Requests Management System</h5>
                    <p class="card-text">Creation of a request management system for the Research Network of Advanced Technology (RITA) based on the open-source software <a href="https://osticket.com/" target="_blank">osTicket</a>.</p>
                    <h6 class="card-title">Technologies</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">PHP</li>
                        <li class="list-group-item">MySQL</li>
                        <li class="list-group-item">JavaScript</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="https://rita.udistrital.edu.co/soporte2/upload/" target="_blank">Go to project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/images/projects/museo-memoria.png" class="card-img-top" alt="Pedagogy of Memory Museum">
                <div class="card-body">
                    <h5 class="card-title">Pedagogy of Memory Museum</h5>
                    <p class="card-text">Development of a virtual museum for the 872-2020 call from the Ministry of Science, Technology, and Innovation. It narrates the experiences of rural students and teachers in Colombia during the armed conflict.</p>
                    <h6 class="card-title">Technologies</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">PHP</li>
                        <li class="list-group-item">JavaScript</li>
                        <li class="list-group-item">MySQL</li>
                        <li class="list-group-item">Wordpress</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="https://rita.udistrital.edu.co/pedagogiadelamemoria/" target="_blank">Go to project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/images/projects/solicitudes-iris.png" class="card-img-top" alt="IRIS Integrated Requests and Procedures System">
                <div class="card-body">
                    <h5 class="card-title">IRIS Integrated Requests and Procedures System</h5>
                    <p class="card-text">Creation of a requests and procedures system for the Francisco José de Caldas District University based on the open-source software <a href="https://osticket.com/" target="_blank">osTicket</a>.</p>
                    <h6 class="card-title">Technologies</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">PHP</li>
                        <li class="list-group-item">MySQL</li>
                        <li class="list-group-item">JavaScript</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="https://iris.portaloas.udistrital.edu.co/" target="_blank">Go to project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/images/projects/finanzapp.png" class="card-img-top" alt="FinanzApp Project">
                <div class="card-body">
                    <h5 class="card-title">FinanzApp</h5>
                    <p class="card-text">Minimum viable prototype for a financial system that analyzes the income and expenses of an individual to help them achieve their savings goals.</p>
                    <h6 class="card-title">Technologies</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">NodeJS</li>
                        <li class="list-group-item">React</li>
                        <li class="list-group-item">PowerBI</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="https://github.com/llherrerap/Proyecto-finanzapp" target="_blank">Go to project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="/images/projects/busca-flores.png" class="card-img-top" alt="Flower Search Project">
            <div class="card-body">
                <h5 class="card-title">Flowersweeper</h5>
                <p class="card-text">Development of the game "Flowersweeper" which follows the same rules as the classic Minesweeper game.</p>
                <h6 class="card-title">Technologies</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">JavaScript</li>
                    <li class="list-group-item">HTML</li>
                    <li class="list-group-item">CSS</li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="https://llherrerap.github.io/buscaflores/" target="_blank">Go to project</a>
            </div>
            </div>
        </div>
    </div>
</section>
