
<section class="projects" id="projects">
    <h2>Proyectos</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4" data-aos="fade-down" data-aos-duration="1500">
  <div class="col">
    <div class="card h-100">
      <img src="/images/projects/Sitio Web RITA.png" class="card-img-top" alt="Sitio web RITA">
      <div class="card-body">
        <h5 class="card-title">Sitio web RITA</h5>
        <p class="card-text">Actualización del sitio web de la Red de Investigación de Tecnología Avanzada (RITA). La actualización incluye mejoras en la seguridad del sitio web y conexion a la intranet de la dependencia.</p>
        <h6 class="card-title">Tecnologías</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Drupal</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">PostgreSQL</li>
            <li class="list-group-item">Bootstrap</li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="https://rita.udistrital.edu.co/" target="_blank">Ir al proyecto</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/images/projects/scraping-grupos.png" class="card-img-top" alt="Scraping GrupLAC">
      <div class="card-body">
        <h5 class="card-title">Scraping GrupLAC</h5>
        <p class="card-text">Desarrollo de un scraping el cual tiene como objetivo traer la información general y la producción academica de los grupos de investigación desde su GrupLAC a sus sitios web.</p>
        <h6 class="card-title">Tecnologías</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Python</li>
            <li class="list-group-item">PHP</li>
            <li class="list-group-item">JSON</li>
            <li class="list-group-item">Drupal</li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="https://rita.udistrital.edu.co/plantilla/SobreNosotros#productos" target="_blank">Ir al proyecto</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/images/projects/veterinaria.png" class="card-img-top" alt="Proyecto Veterinaria">
      <div class="card-body">
        <h5 class="card-title">Veterinaria API REST</h5>
        <p class="card-text">API REST para un sistema veterinario que gestiona mascotas, médicos veterinarios y citas. La API proporciona una interfaz eficiente y segura para la administración de información del sistema veterinario.</p>
        <h6 class="card-title">Tecnologías</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">NodeJS</li>
            <li class="list-group-item">ExpressJS</li>
            <li class="list-group-item">JSON</li>
            <li class="list-group-item">MySQL</li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="https://github.com/llherrerap/veterinaria" target="_blank">Ir al proyecto</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/images/projects/plantilla-drupal.png" class="card-img-top" alt="Plantilla sitios web para grupos de investigación">
      <div class="card-body">
        <h5 class="card-title">Plantilla Drupal</h5>
        <p class="card-text">Creación de una plantilla para los sitios web de grupos, unidades y semilleros investigactivos de la Universidad Distrital.</p>
        <h6 class="card-title">Tecnologías</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Drupal</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">Bootstrap</li>
            <li class="list-group-item">MySQL</li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="https://rita.udistrital.edu.co/plantilla/" target="_blank">Ir al proyecto</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/images/projects/solicitudes-rita.png" class="card-img-top" alt="Sistema de solicitudes RITA">
      <div class="card-body">
        <h5 class="card-title">Sistema de gestión de solicitudes RITA</h5>
        <p class="card-text">Creación de un sistema de solicitudes para la Red de Investigación de Tecnología Avanzada (RITA) en base al software libre <a href="https://osticket.com/" target="_blank">osTicket</a>.</p>
        <h6 class="card-title">Tecnologías</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">PHP</li>
            <li class="list-group-item">MySQL</li>
            <li class="list-group-item">JavaScript</li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="https://rita.udistrital.edu.co/soporte2/upload/" target="_blank">Ir al proyecto</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/images/projects/museo-memoria.png" class="card-img-top" alt="Home Museo Pedagogía de la Memoria">
      <div class="card-body">
        <h5 class="card-title">Museo Pedagogía de la Memoria</h5>
        <p class="card-text">Desarrollo de un museo virtual para la convocatoria 872-2020 del ministerio de ciencia, tecnología e innovación. El cual relata las experiencias de los estudiantes y docentes rurales de Colombia durante el conclico armado.</p>
        <h6 class="card-title">Tecnologías</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">PHP</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">MySQL</li>
            <li class="list-group-item">Wordpress</li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="https://rita.udistrital.edu.co/pedagogiadelamemoria/" target="_blank">Ir al proyecto</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/images/projects/solicitudes-iris.png" class="card-img-top" alt="Sistema de solicitudes IRIS">
      <div class="card-body">
        <h5 class="card-title">Sistema Integrado de Solicitudes y Trámites IRIS</h5>
        <p class="card-text">Creación de un sistema de solicitudes y tramites para la Universidad Distrital Francisco José de Caldas en base al software libre <a href="https://osticket.com/" target="_blank">osTicket</a>.</p>
        <h6 class="card-title">Tecnologías</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">PHP</li>
            <li class="list-group-item">MySQL</li>
            <li class="list-group-item">JavaScript</li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="https://iris.portaloas.udistrital.edu.co/" target="_blank">Ir al proyecto</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/images/projects/finanzapp.png" class="card-img-top" alt="Proyecto Finanzapp">
      <div class="card-body">
        <h5 class="card-title">FinanzApp</h5>
        <p class="card-text">Prototipo minimo viable para un sistema financiero que cumple con el fin de analizar los ingresos y egresos de una persona natural y así ayudarla a cumplir sus metas de ahorros.</p>
        <h6 class="card-title">Tecnologías</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">NodeJS</li>
            <li class="list-group-item">React</li>
            <li class="list-group-item">PowerBI</li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="https://github.com/llherrerap/Proyecto-finanzapp" target="_blank">Ir al proyecto</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/images/projects/busca-flores.png" class="card-img-top" alt="Proyecto Finanzapp">
      <div class="card-body">
        <h5 class="card-title">Busca flores</h5>
        <p class="card-text">Desarrollo del juego busca flores, en el cual cumple las mismas reglas que el juego buscaminas.</p>
        <h6 class="card-title">Tecnologías</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">HTML</li>
            <li class="list-group-item">CSS</li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="https://llherrerap.github.io/buscaflores/" target="_blank">Ir al proyecto</a>
      </div>
    </div>
  </div>
  
</div>
</section>